{% extends 'base.html' %}
{% block title %}
Blog home
{% endblock title %}
{% block Blogactive %} {% endblock Blogactive %}
{% block content %}


<div class="row no-gutters border rounded overflow-hidden flex-md-row mt-4  shadow-sm h-md-250 position-relative">


<div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary"> Posted by {{posts.author}}</strong>
    <h3 class="mb-0">{{posts.title}}</h3>
    <!-- <div class="mb-1 text-muted"></div> -->
    <p class="card-text mb-auto">{{posts.desc}}</p>
    
</div>
</div>
<div class="container mt-3">
    <h2>Comments</h2>
    <form action="/postcomment/" method="POST">
        {% csrf_token %}
    <input type="text" name="comment" placeholder="enter commnet here" id="">
    <input type="hidden" name="postid" value="{{posts.id}}">
    <input type="submit" value="SUBMIT" name="" id="">


</form>
    <div class="row my-3">
        <div class="col-md-2 bg-success ">Image</div>
        <div class="col-md-10 bg-primary"><b>Rayan Says</b> its a good post</div>
    </div>
</div>

{% endblock content %}