{% extends 'base.html' %}
{% block title %}
Blog home
{% endblock title %}
{% block Blogactive %} {% endblock Blogactive %}
{% block content %}


<div class="row no-gutters border rounded overflow-hidden flex-md-row mt-4  shadow-sm h-md-250 position-relative">


<div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary"> Posted by {{posts.author}}</strong>
    <h3 class="mb-0">{{posts.title}}</h3>
    <!-- <div class="mb-1 text-muted"></div> -->
    <p class="card-text mb-auto">{{posts.desc}}</p>
    
</div>
</div>

{% endblock content %}