{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact page
        {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block content %}


<div class="col-sm-10">
    <h3 class="text-dark my-5">Contact Page</h3>
    <form action="">
    <div class="row">

        <div class="form-group col-md-6">
            <label for="user"> Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" required id="user">
          </div>
          

        <div class="form-group col-md-6">
          <label for="email1">Email address</label>
          <input type="email" class="form-control" id="email1" required name="email1" placeholder="Email" aria-describedby="emailHelp">
        </div>
    </div>
        <div class="form-group">
          <label for="adress"> Address</label>
          <input type="text" class="form-control" name="pass1" required placeholder="Enter Adress" id="pass1">
        </div>
    

        <div class="form-group">Enter Message</label>
            <textarea class="form-control" name="" id="message" cols="30" rows="4"></textarea>
        </div>
        <div>

            <button type="submit" class="btn btn-outline-success">Send</button>
        </div>
    </form>
    
</div>
{% endblock content %}