{% extends 'base.html' %}
{% load static %}
{% block title %}
Search page
        {% endblock title %}

{% block content %}


<div class="col-sm-10">
    <h3 class="text-dark my-5">Search Items</h3>
    {% if posts|length < 1 %}
    <p>No Search items found for <b> {{query}} </b></p>
    <p>Please check for the keyword you enetered and try again.</p> 

    
    {% endif %}
    {% for post in posts %}
    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
            
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mt-4  shadow-sm h-md-250 position-relative">


                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary"> Posted by {{post.author}}</strong>
                    <h3 class="mb-0">{{post.title}}</h3>
                    <h6 class="text-muted">Created on {{post.date_added}}</h6>
                    <h6 class="text-muted">Edited on {{post.date_updated}}</h6>
                    <!-- <div class="mb-1 text-muted"></div> -->
                    <p class="card-text mb-auto">{{post.desc | truncatechars:100}}</p>
            
                    {% if request.user.is_authenticated %}
                    <div class="my-2">
                       
            
                        <a href="/blogs/{{post.id}}" role="button" class="btn btn-primary">Continue reading</a>
                    </div>
                    {% else %}
                    <div class="my-2">
                        <a href="/signup/" role="button" class="btn btn-secondary">Continue reading</a>
                    </div>
                    {% endif %}
            
                </div>
            </div>
            
            
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}